Use the following code to clean csv dataframes for different restaurants.

Merge the cleaned individual dataframes into the final dataframe as our database.

In [1]:
import pandas as pd

In [19]:
header=['restaurant_name', 'retaurant_address', 'restaurant_zipcode', 'restaurant_reviewcount', 'restaurant_rating', 'restaurant_neighobrhood', 'Hygiene_score', 'price_range', 'Liked by Vegetarians', 'Takes Reservations', 'Delivery', 'Take-out', 'Accepts Credit Cards', 'Accepts Bitcoin', 'Parking', 'Bike Parking', 'Wheelchair Accessible', 'Good for Kids', 'Good for Groups', 'Attire', 'Noise Level', 'Alcohol', 'Happy Hour', 'Outdoor Seating', 'Wi-Fi', 'Has TV', 'Dogs Allowed', 'Waiter Service', 'Caters', 'Category', 'Has Soy-free Options', 'Has Dairy-free Options', 'Liked by Vegans', 'Has Gluten-free Options', 'Good For', 'Ambience', 'Gender Neutral Restrooms']
len(header)

37

In [2]:
df_chinese = pd.read_csv('Chinese_Restaurant.csv', encoding = 'latin1')
df_chinese = df_chinese.reindex_axis(sorted(df_chinese.columns), axis=1) # order the column names
df_chinese = df_chinese.drop(['Unnamed: 0'],axis=1) # drop irrevalant column
df_chinese = df_chinese.drop_duplicates() # drop same restaurants appeared in the search
df_chinese ['Source'] = 'Chinese' # use 'Source' to indicate the searching term
df_chinese.shape # print shape to make sure column number is correct

(479, 38)

In [3]:
df_spanish = pd.read_csv('Spanish_Restaurant.csv', encoding = 'latin1')
df_spanish = df_spanish.reindex_axis(sorted(df_spanish.columns), axis=1)
df_spanish = df_spanish.drop(['Unnamed: 0'],axis=1)
df_spanish = df_spanish.drop_duplicates()
df_spanish ['Source'] = 'Spanish'
df_spanish.shape

(101, 38)

In [4]:
df_japanese = pd.read_csv('Japanese_Restaurant.csv', encoding = 'latin1')
df_japanese = df_japanese.reindex_axis(sorted(df_japanese.columns), axis=1)
df_japanese = df_japanese.drop(['Unnamed: 0'],axis=1)
df_japanese = df_japanese.drop_duplicates()
df_japanese ['Source'] = 'Japanese'
df_japanese.shape

(72, 38)

In [5]:
df_american = pd.read_csv('American_Restaurant.csv', encoding = 'latin1')
df_american = df_american.reindex_axis(sorted(df_american.columns), axis=1)
df_american = df_american.drop(['Unnamed: 0'],axis=1)
df_american = df_american.drop_duplicates()
df_american ['Source'] = 'American'
df_american.shape

(138, 38)

In [6]:
df_morningside = pd.read_csv('Morningside_height.csv',encoding = 'latin1')
df_morningside = df_morningside.reindex_axis(sorted(df_morningside.columns), axis=1)
df_morningside = df_morningside.drop(['Unnamed: 0'],axis=1)
df_morningside = df_morningside.drop_duplicates()
df_morningside['Source'] = 'Morningside Height'
df_morningside.shape

(95, 38)

In [7]:
df_french = pd.read_csv('French_Restaurant.csv', encoding = 'latin1')
df_french = df_french.reindex_axis(sorted(df_french.columns), axis=1)
df_french = df_french.drop(['Unnamed: 0'],axis=1)
df_french = df_french.drop_duplicates()
df_french['Source'] = 'French'
df_french.shape

(244, 38)

In [8]:
df_italian = pd.read_csv('Italian_Restaurant.csv', encoding = 'latin1')
df_italian = df_italian.reindex_axis(sorted(df_italian.columns), axis=1)
df_italian = df_italian.drop(['Unnamed: 0'],axis=1)
df_italian = df_italian.drop_duplicates()
df_italian['Source'] = 'Italian'
df_italian.shape

(20, 38)

In [9]:
df_greek = pd.read_csv('Greek_Restaurant.csv', encoding = 'latin1')
df_greek = df_greek.reindex_axis(sorted(df_greek.columns), axis=1)
df_greek = df_greek.drop(['Unnamed: 0'],axis=1)
df_greek = df_greek.drop_duplicates()
df_greek['Source'] = 'Greek'
df_greek.shape

(52, 38)

In [10]:
df_thai = pd.read_csv('Thai_Restaurant.csv', encoding = 'latin1')
df_thai = df_thai.reindex_axis(sorted(df_thai.columns), axis=1)
df_thai = df_thai.drop(['Unnamed: 0'],axis=1)
df_thai = df_thai.drop_duplicates()
df_thai['Source'] = 'Thai'
df_thai.shape

(377, 38)

In [11]:
df_indian = pd.read_csv('Indian_Restaurant.csv', encoding = 'latin1')
df_indian = df_indian.reindex_axis(sorted(df_indian.columns), axis=1)
df_indian = df_indian.drop(['Unnamed: 0'],axis=1)
df_indian = df_indian.drop_duplicates()
df_indian['Source'] = 'Indian'
df_indian.shape

(151, 38)

In [12]:
df_korean = pd.read_csv('Korean_Restaurant.csv', encoding = 'latin1')
df_korean = df_korean.reindex_axis(sorted(df_korean.columns), axis=1)
df_korean = df_korean.drop(['Unnamed: 0'],axis=1)
df_korean = df_korean.drop_duplicates()
df_korean['Source'] = 'Korean'
df_korean.shape

(216, 38)

In [13]:
# Merge all the dataframs into one final dataframe
df_final = pd.concat([df_japanese, df_chinese, df_spanish, df_american,df_morningside, df_french, df_italian, df_greek, df_thai, df_indian])
df_final = df_final.drop_duplicates()
df_final.shape

(1729, 38)

In [14]:
df_final = df_final.rename(index=str, columns={"restaurant_neighobrhood": "restaurant_neighborhood"})
df_final.reset_index()
df_final = df_final.fillna('NA')

In [15]:
df_final.head()

,Accepts Bitcoin,Accepts Credit Cards,Alcohol,Ambience,Attire,Bike Parking,Category,Caters,Delivery,Dogs Allowed,...,Wheelchair Accessible,Wi-Fi,price_range,restaurant_name,restaurant_neighborhood,restaurant_rating,restaurant_reviewcount,restaurant_zipcode,retaurant_address,Source
0,No,Yes,No,"Casual, Trendy",Casual,No,Japanese; Sushi Bars;,Yes,No,No,...,Yes,Free,$11-30,Wasabi Sushi & Bento,Financial District,4,107,10038,200 BroadwayFulton Street Station,Japanese
1,NA,Yes,Beer & Wine Only,Casual,Casual,No,Ramen;,No,Yes,NA,...,NA,No,$11-30,Kuu Ramen,Financial District,3.5,510,10038,20 John St,Japanese
2,NA,Yes,No,Casual,Casual,Yes,Bakeries; Japanese; Coffee & Tea;,Yes,No,NA,...,NA,No,$11-30,Takahachi Bakery,"Civic Center, TriBeCa",4,779,10007,25 Murray St,Japanese
3,NA,Yes,Beer & Wine Only,Casual,Casual,Yes,Sushi Bars; Japanese;,Yes,Yes,NA,...,NA,Free,$11-30,Blue Ribbon Sushi Bar - Hudson Eats,Battery Park,3.5,124,10281,225 Liberty StHudson Eats,Japanese
4,NA,Yes,Full Bar,"Casual, Trendy",Casual,Yes,Sushi Bars; Asian Fusion; Japanese;,Yes,Yes,No,...,Yes,No,$11-30,Honshu,NA,4,227,7302,95 Greene St,Japanese

In [16]:
# check there is no info from IP ban 
df_final[df_final['restaurant_name']=='Yelp' ]

Empty DataFrame
Columns: [Accepts Bitcoin, Accepts Credit Cards, Alcohol, Ambience, Attire, Bike Parking, Category, Caters, Delivery, Dogs Allowed, Gender Neutral Restrooms, Good For, Good for Groups, Good for Kids, Happy Hour, Has Dairy-free Options, Has Gluten-free Options, Has Soy-free Options, Has TV, Hygiene_score, Liked by Vegans, Liked by Vegetarians, Noise Level, Outdoor Seating, Parking, Take-out, Takes Reservations, Waiter Service, Wheelchair Accessible, Wi-Fi, price_range, restaurant_name, restaurant_neighborhood, restaurant_rating, restaurant_reviewcount, restaurant_zipcode, retaurant_address, Source]
Index: []

[0 rows x 38 columns]

In [17]:
df_final.to_csv("final_df.csv")

In [ ]:
header=['restaurant_name', 'retaurant_address', 'restaurant_zipcode', 'restaurant_reviewcount', 'restaurant_rating', 'restaurant_neighobrhood', 'Hygiene_score', 'price_range', 'Liked by Vegetarians', 'Takes Reservations', 'Delivery', 'Take-out', 'Accepts Credit Cards', 'Accepts Bitcoin', 'Parking', 'Bike Parking', 'Wheelchair Accessible', 'Good for Kids', 'Good for Groups', 'Attire', 'Noise Level', 'Alcohol', 'Happy Hour', 'Outdoor Seating', 'Wi-Fi', 'Has TV', 'Dogs Allowed', 'Waiter Service', 'Caters', 'Category', 'Has Soy-free Options', 'Has Dairy-free Options', 'Liked by Vegans', 'Has Gluten-free Options', 'Good For', 'Ambience', 'Gender Neutral Restrooms']
len(header)